<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BossOne1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,266}</string>
                <key>spriteSourceSize</key>
                <string>{300,266}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossOne2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,260}</string>
                <key>spriteSourceSize</key>
                <string>{300,260}</string>
                <key>textureRect</key>
                <string>{{0,266},{300,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossOne3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,250}</string>
                <key>spriteSourceSize</key>
                <string>{300,250}</string>
                <key>textureRect</key>
                <string>{{0,526},{300,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossOne4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,246}</string>
                <key>spriteSourceSize</key>
                <string>{300,246}</string>
                <key>textureRect</key>
                <string>{{0,776},{300,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BossOne.png</string>
            <key>size</key>
            <string>{300,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1eb868989245b7aaee4d8b56cd171f9:53405a144b5663dd90bd24b24f7ca642:0d7c1633341e444dfe5c1118d2328404$</string>
            <key>textureFileName</key>
            <string>BossOne.png</string>
        </dict>
    </dict>
</plist>
